{% extends "base.html" %}

{% block content %}

<div class="container text-center">
    <br><br><br><br><br><br><br><br>

    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <h1>Prijavi se</h1>
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ 'danger' if category == 'error' else category }} mt-2 flash-message" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('auth.login') }}">
        <div class="row mt-2 justify-content-md-center">
            <div class="col-md-4">
                <input type="text"
                       class="form-control"
                       name="email"
                       placeholder="E-adresa"
                       required>
            </div>
        </div>

        <div class="row mt-2 justify-content-md-center">
            <div class="col-md-4">
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Lozinka"
                       required>
            </div>
        </div>

        <div class="row mt-2 justify-content-md-center">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success w-100">
                    Prijavi se
                </button>
            </div>
        </div>
    </form>

</div>
<script>
setTimeout(function () {
    let alerts = document.querySelectorAll(".flash-message");

    alerts.forEach(function(alert) {
        alert.style.transition = "opacity 0.5s";
        alert.style.opacity = "0";

        setTimeout(function () {
            alert.remove();
        }, 500);
    });

}, 5000); // 5000 ms = 5 sekundi
</script>
{% endblock %}
